//====================================================================================================
.footer {
    // margin-top: -20px;
    display: block;
    @media (min-width: $mobile) {
        display: none;
    }
    &__text {
        color: #4ba5e7;
        font-size: 13px;
        text-align: center;
        padding-bottom: 20px;
    }
}
//====================================================================================================
