// ========================= MAIN =========================

.main {
    position: relative;
    padding-top: clamp(62px, 20vw, 264px);
    padding-bottom: 230px;

    // .main__container

    &__container {
    }

    // .main__title

    &__title {
        font-weight: 700;
        font-size: clamp(30px, 6vw, 92px);
        line-height: 121%;
        margin-top: 20px;
        z-index: 3;
        position: relative;
        color: #4ba5e7;
    }

    // .main__text

    &__text {
        width: 70%;
        font-weight: 500;
        font-size: clamp(22px, 5vw, 71px);
        line-height: 137%;
        z-index: 3;
        position: relative;
        color: black;

        @media (min-width: $mobile) {
            width: 70%;
        }
        @media (min-width: $tablet) {
            width: 60%;
        }
    }
}

// .camera-bg-pc

.camera-bg-pc {
    top: 0;
    left: -40px;
    z-index: 2;
    position: absolute;
    display: none;

    @media (min-width: $tablet) {
        transform: rotate(20deg);
        top: 100px;
        left: -200px;
        display: block;
    }

    @media (min-width: $pc) {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
}

// .camera-bg-mob

.camera-bg-mob {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    @media (min-width: $tablet) {
        display: none;
    }
}

// .main-girl

.main-girl {
    position: absolute;
    top: 50%;
    right: -150px;
    z-index: 1;
    transform: translateY(-40%);

    width: 600px;
    height: 350px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @media (min-width: $mobile) {
        height: 400px;
        right: -140px;
    }

    @media (min-width: $tablet) {
        height: 636px;
        right: 0;
    }
}

.parallax-click {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 55%;

    width: 108px;
    height: 108px;

    @media (min-width: $mobile) {
        width: 159px;
        height: 159px;
    }

    @media (min-width: $tablet) {
        width: 199px;
        height: 199px;
        bottom: -70px;
        left: 45%;
    }

    @media (min-width: $pc) {
        bottom: -100px;
        left: 55%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.gradient-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    display: none;

    @media (min-width: $mobile) {
        display: block;
    }
}

// =========================  VIDEO BLOCK =========================
.video-block {
    margin-top: 20px;
    text-align: center;
    position: relative;
    @media (min-width: $mobile) {
        margin-top: 130px;
    }

    &__btn {
        background-color: #e126ff;
        cursor: pointer;
        margin: 30px auto 0;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #fff;
        font-size: 20px;
        padding: 18px 40px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #e126ff;
        z-index: 3;

        &:hover {
            background-color: transparent;
            transition: background 0.4s;
        }

        @media (min-width: $mobile) {
            margin: 30px auto 0;
        }
    }
}

.hero-video {
    width: 100%;
    max-width: 1146px;
    // padding: 0 30px;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    z-index: 3;
    position: relative;
}

.gradient-2 {
    position: absolute;
    top: -80%;
    left: 0;
    z-index: 0;
    display: none;

    @media (min-width: $mobile) {
        display: block;
    }
}

.parallax-bell {
    position: absolute;
    z-index: 2;
    left: -50px;
    bottom: -65%;
    width: 115px;
    height: 115px;
    transform: scaleX(-1);

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @media (min-width: $mobile) {
        left: auto;
        right: 20px;
        bottom: -45%;
    }

    @media (min-width: $tablet) {
        width: 155px;
        height: 155px;
    }
}

// ========================= TICKER =========================

.ticker {
    margin-top: clamp(20px, 5vw, 120px);
    position: relative;
    z-index: 3;
    width: 6000px;
    transform: translateX(-1500px);

    // .ticker__line

    &__line {
        display: flex;
        gap: 20px;

        color: transparent;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-text-stroke: 1px #fff;

        @media (min-width: $mobile) {
            -webkit-text-stroke: 1.5px #fff;
        }

        &:last-child {
            margin-top: -15px;
            transform: translateX(-150px);
        }
    }

    // .ticker__glass

    &__glass {
        width: 50px;
        height: 50px;

        @media (min-width: $mobile) {
            width: 60px;
            height: 60px;
        }

        @media (min-width: $pc) {
            width: 79px;
            height: 79px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .ticker__item

    &__item {
        display: flex;
        align-items: center;
        font-size: clamp(35px, 5vw, 57px);
    }
}

// ========================= ACTIONS =========================

.actions {
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: clamp(50px, 10vw, 100px);

    // .actions__container

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        @media (min-width: $mobile) {
            flex-direction: row;
        }
        @media (min-width: $pc) {
            flex-wrap: nowrap;
        }
    }

    // .actions__item

    &__item {
        flex: 1 1 33.33%;
        padding: 30px 50px;
        text-align: center;
        border: 1px solid #fff;
        transition: opacity 0.1s ease-in;
        opacity: 0;

        @media (min-width: $tablet) {
            padding: 80px 60px;
        }

        @media (min-width: $pc) {
            padding: 100px 70px;
        }
    }

    // .actions__text

    &__text {
        font-size: clamp(30px, 4vw, 51px);
        text-transform: uppercase;
        font-weight: 700;
        transform: rotate(1deg);
        transition: opacity 0.1s ease-in;
        opacity: 0;
    }

    // .actions__description

    &__description {
        margin-top: clamp(5px, 2vw, 20px);
        font-size: clamp(16px, 2vw, 24px);
        font-weight: 500;
        transition: opacity 0.1s ease-in;
        opacity: 0;
    }
}

// ========================= CREATE PLAYLIST =========================

.create-playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 0;
    margin-top: clamp(30px, 10vw, 170px);
    position: relative;
    z-index: 2;
    margin-left: 0;

    @media (min-width: $tablet) {
        margin-left: 40px;
    }

    @media (min-width: 1600px) {
        flex-direction: row;
        gap: 20px;
    }

    // .create-playlist__text

    &__text {
        text-transform: uppercase;
        font-size: clamp(35px, 7vw, 100px);
        font-weight: 300;
        line-height: 120%;
        width: fit-content;
        max-width: 940px;
        position: relative;
        margin-top: -25px;
        opacity: 0;
        transition: 0.3s ease-in;
        z-index: 3;

        @media (min-width: $mobile) {
            line-height: 120%;
            margin-top: -40px;
        }

        @media (min-width: $tablet) {
            line-height: 150%;
            margin-top: -50px;
        }

        @media (min-width: $pc) {
            line-height: 170%;
        }

        @media (min-width: 1600px) {
            margin-top: 0;
            width: 60%;
        }

        // span {
        //     display: block;
        //     text-align: right;
        // }
    }

    // .create-playlist__girl

    &__girl {
        z-index: 2;
        @media (min-width: 1600px) {
            width: 40%;
        }
    }

    // .create-playlist__image

    &__image {
        width: 500px;
        height: 480px;
        display: none;

        @media (min-width: $mobile) {
            display: block;
        }

        @media (min-width: $pc) {
            width: 680px;
            height: 700px;
        }
    }

    &__image-mob {
        width: 100%;
        @media (min-width: $mobile) {
            display: none;
        }
    }

    // .create-playlist__circle

    &__circle {
        position: absolute;
        top: -100px;
        right: -60px;
        width: 165px;
        height: 165px;

        @media (min-width: $tablet) {
            width: 280px;
            height: 280px;
            top: -130px;
        }

        @media (min-width: $pc) {
            width: 342px;
            height: 342px;
            right: 20px;
        }
    }

    &__rocket {
        display: flex;
        align-items: center;
        gap: 5px;

        @media (min-width: $mobile) {
            gap: 20px;
        }
        img {
            width: 90px;
            height: 100%;
            object-fit: contain;

            @media (min-width: $mobileSmall) {
                width: 120px;
            }

            @media (min-width: $mobile) {
                width: 180px;
            }

            @media (min-width: $tablet) {
                width: 200px;
            }

            @media (min-width: $pc) {
                width: 240px;
            }
        }
    }
}

.circle-playlist {
    &__image {
        position: relative;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35px;
        height: 35px;

        @media (min-width: $mobile) {
            width: 50px;
            height: 50px;
        }

        @media (min-width: $tablet) {
            width: 65px;
            height: 65px;
        }

        @media (min-width: $pc) {
            width: 80px;
            height: 80px;
        }
    }
}

.girl-create {
    transform: rotate(15deg);
    transition: 0.2s;
}

.rocket-create {
    transform: translateX(-150%);
    transition: 0.4s;
}

.test {
    opacity: 0;
}

.gradient-3 {
    position: absolute;
    right: 0;
    top: -130%;
    z-index: 0;
    display: none;

    @media (min-width: $mobile) {
        display: block;
    }
}

.gradient-4 {
    position: absolute;
    left: 0;
    top: -80%;
    display: none;

    @media (min-width: $mobile) {
        display: block;
    }

    @media (min-width: $tablet) {
        left: -40px;
    }
}

// ========================= GARMONY =========================

.garmony {
    margin-top: clamp(50px, 10vw, 150px);
    z-index: 3;
    position: relative;

    // .garmony__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .garmony__title

    &__title {
        font-size: clamp(22px, 2vw, 35px);
        font-weight: 500;
        text-align: center;
        width: 50%;
        transform: translateX(-1200px);
    }

    // .garmony__items

    &__items {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin-top: clamp(45px, 7vw, 130px);

        & > :nth-child(1) {
            transform: rotate(-20deg) translate(-55px, -55px);
        }

        & > :nth-child(2) {
            transform: translateY(-65px);
        }

        & > :nth-child(3) {
            transform: rotate(20deg) translate(55px, -55px);
        }

        & > :nth-child(4) {
            transform: rotate(20deg) translate(-55px, 55px);
        }

        & > :nth-child(5) {
            transform: rotate(-20deg) translate(-55px, 65px);
        }

        @media (min-width: $mobile) {
            row-gap: 50px;
        }

        @media (min-width: $tablet) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            row-gap: 70px;
        }

        @media (min-width: $pc) {
            column-gap: 60px;
        }
    }

    // .garmony__item

    &__item {
        max-width: 358px;
    }

    &__btn-mob {
        display: block;
        background-color: #e126ff;
        margin-top: 20px;
        border-radius: 10px;
        font-size: 20px;
        width: 258px;
        padding: 23px 0;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            border: 1px solid #e126ff;
            transition: background 0.3s;
        }
        // align-self: flex-start;

        @media (min-width: $mobile) {
            display: none;
        }
    }
}
.item-garmony {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    // .item-garmony__top

    &__top {
        margin-bottom: auto;
    }

    // .item-garmony__image

    &__image {
        display: none;

        @media (min-width: $mobile) {
            display: block;
        }
    }

    // .item-garmony__image-mob

    &__image-mob {
        display: block;

        @media (min-width: $mobile) {
            display: none;
        }
    }

    // .item-garmony__bottom

    &__bottom {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    // .item-garmony__num

    &__num {
        flex: 0 0 55px;
        height: 77px;
        display: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media (min-width: $mobile) {
            display: block;
        }
    }

    // .item-garmony__text

    &__text {
        font-size: clamp(13px, 2vw, 24px);
        font-weight: 500;
    }
}
.item-garmony-start {
    width: 100%;
    height: 100%;
    background: url("../img/garmony/garmony_mob_6.png") center/cover no-repeat;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e126ff;

    @media (min-width: $mobile) {
        background: #e126ff;
        border: none;
    }

    // .item-garmony-start__text

    &__text {
        font-size: clamp(13px, 2vw, 28px);
        font-weight: 600;
        text-align: center;
    }

    // .item-garmony-start__btn

    &__btn {
        background-color: #fff;
        color: #000;
        font-size: 20px;
        cursor: pointer;
        // margin-top: 20px;
        border-radius: 10px;
        width: 100%;
        padding: 18px 0;
        max-width: 260px;
        display: none;
        border: 1px solid #fff;

        &:hover {
            background-color: transparent;
            transition: 0.4s;
            color: #fff;
        }

        @media (min-width: $mobile) {
            display: block;
        }

        @media (min-width: $tablet) {
            max-width: 260px;
        }

        @media (min-width: $pc) {
            max-width: 290px;
        }
    }
}
